/* root */

:root {
  --background-color: #f5f5f5;
  --color-white: white;
  --color-black: black;
  --color-darkgray: #404040;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;
}

/* css reset */

/* box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* accessibility */

/* text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* typography */

body,
button,
select {
  color: var(--color-darkgray);
  font-family: "Poppins", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

/* set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  background: var(--background-color);
  min-height: 100vh;
}

/* remove list styles on ul and ol element*/

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* elements without class selector */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

p:not([class]) {
  max-width: 42ch;
}

p[data-width="wide"] {
  max-width: 42ch;
}

/* general styles */

/* logo */
.logo {
  font-family: "Pacifico", cursive;
  font-size: var(--size-500);
  font-weight: 500;
}

/* navigation */
.menu {
  position: fixed;
  padding: 1em 2em;
  width: 100%;
  color: white;
  background: #e28743;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

/* nav-items */

.nav-list {
  font-size: var(--size-400);
  display: flex;
  justify-content: space-around;
  gap: var(--size-700);
}

a {
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.booking-btn {
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  border-radius: var(--size-300);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background: #e28743;
  color: var(--color-white);
  font-weight: 500;
}

.booking-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.whatsapp-chat {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 35px;
  right: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  animation: shrink-grow 2s infinite;
}

@keyframes shrink-grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.hero-content {
  background: var(--color-white);
  margin-top: 3rem;
}

.banner-margin {
  margin-bottom: 1rem;
}

.hero-text {
  font-family: "Pacifico", cursive;
  font-size: var(--size-600);
  font-weight: 100;
}

.sub-hero-text {
  font-size: 1rem;
}

.about {
  margin-top: 3rem;
}

.about-content {
  justify-items: center;
}

.welcome-message-title,
.services-title {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.about-content p {
  max-width: 80ch;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.services-content,
.sites,
.booking-form {
  margin-bottom: 4rem;
}

.booking-form-content {
  margin-top: 3rem;
}

.services-card-content {
  background: var(--color-white);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.2rem;
}

.services-icon {
  font-size: 3rem;
  color: #2b2a6c;
  background: white;
  padding: 2rem;
  margin: 1rem 0 2rem 0;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.services-caption,
.site-caption {
  padding: 0.75rem;
  text-align: center;
  font-size: 1rem;
}

.site-caption {
  text-transform: capitalize;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.sites-card-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-iframe {
  width: 600px;
  height: 800px;
}

.footer-content {
  background: #2b2a6c;
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 0.9rem;
  height: 4rem;
}

/*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
@supports not (display: grid) {
  .grid {
    max-width: 50em;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

@media screen and (min-width: 600px) {
  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(10, minmax(auto, 10em)) 1fr;
    }

    .menu-wrapper {
      grid-column: 3/11;
      display: grid;
      grid-template-columns: repeat(2, auto);
      align-items: center;
    }

    .nav-bar {
      justify-self: end;
    }

    .hero-content {
      min-height: calc(80vh - var(--size-900));
      grid-column: span 12;
      display: grid;
      grid-template-columns: 1fr repeat(10, minmax(auto, 10em)) 1fr;
      justify-items: center;
      align-items: center;
    }

    .banner {
      grid-column: 3/6;
    }

    .hero-image {
      grid-column: 7/11;
    }

    .about-content {
      grid-column: 3/11;
      display: grid;
      justify-content: center;
    }

    .services-content {
      grid-column: 3/11;
      display: grid;
      grid-template-columns: repeat(3, auto);
      gap: 1rem;
    }

    .services-text-content {
      grid-column: span 3;
      justify-self: center;
    }

    .sites-content {
      grid-column: 3/11;
      display: grid;
      grid-template-columns: repeat(4, auto);
    }

    .booking-form-content {
      grid-column: 3/11;
      display: grid;
      justify-content: center;
    }

    .footer-content {
      grid-column: 1/13;
    }
  }
}

/*--------------------------------------------------------------
CSS Grid layout for small screens, when browser supports grid:
--------------------------------------------------------------*/
@media only screen and (max-width: 576px) {
  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(10, minmax(auto, 10em)) 1fr;
    }

    .menu-wrapper {
      grid-column: 3/11;
      display: grid;
      align-items: center;
    }

    .logo {
      grid-row: 1;
      text-align: center;
      margin-bottom: 4px;
    }
    .nav-bar {
      grid-row: 2;
      justify-self: center;
    }

    .hero-content {
      min-height: calc(70vh - var(--size-900));
      margin-top: 5rem;
      grid-column: span 12;
      display: grid;
      grid-template-rows: auto auto;
      justify-items: center;
      align-items: center;
    }

    .banner {
      grid-row: 1;
      grid-column: 4/11;
      padding: 2rem;
    }

    .hero-image {
      grid-row: 2;
      grid-column: 4/11;
      padding: 2rem;
    }

    .about-content {
      grid-column: 3/11;
      display: grid;
      justify-content: center;
    }

    .services-content {
      grid-column: 3/11;
      display: grid;
      grid-template-columns: repeat(1, auto);
      gap: 1rem;
    }

    .services-text-content {
      grid-column: 1;
      justify-self: center;
    }

    .sites-content {
      grid-column: 3/11;
      display: grid;
      grid-template-columns: repeat(1, auto);
      gap: 3rem;
    }

    .booking-form-content {
      grid-column: 3/11;
      display: grid;
      justify-content: center;
    }

    .book-iframe {
      width: 360px;
      height: 912px;
    }

    .footer-content {
      grid-column: 1/13;
    }

    .logo {
      font-size: var(--size-400);
    }

    a {
      font-size: var(--size-300);
    }

    .hero-text {
      font-size: var(--size-500);
    }

    .welcome-message-title,
    .services-title {
      font-size: 1.1rem;
      font-weight: 600;
      text-align: center;
    }

    .about-us,
    .services-caption,
    .site-caption {
      font-size: 0.9rem;
    }
  }
}
